<%= @game.player_1.name %> vs <%= @game.player_2.name %>
<div>
  <p>
  <%= @game.player_1.name %>: <%= @game.player_1.hp%>HP
  </p>
  <p>
  <%= @game.player_2.name %>: <%= @game.player_2.hp%>HP
  </p>
</div>
<form action="/attack">
  <input type="submit" value="Attack">
</form>
